<%if @domains_count%>
<h1>Today <%= @domains_count%> domains name on database</h1>
<%else%>
<h1>Search for <%= session[:search]%></h1>
<%end%>
<%= flash[:warning] || flash[:notice] %>

<%= form_tag( { :action => 'search' } ) do %>
  Domain name: <%= text_field( "form","search", :id=>'query' ) %>
  <%= submit_tag( "Search domain", :id=>'form_button' ) %>
<% end %>
<br/>
<table cellspacing="2" cellpadding="2" border="0">
  <tr>
	<td colspan="3" align="right"><%= link_to "Upload new CSV file", '/upload'  %></td>
	<td colspan="3" align="right"><%= link_to 'Add New Domain', new_domain_path %></td>
</tr>
  <tr>
    <th>Hostname</th>
    <th>Pagerank</th>
    <th>Domainage</th>
    <th colspan="3">Administration</th>
  </tr>

<% @domains.each do |domain| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= domain.hostname %></td>
    <td align="center"><%= domain.pagerank %></td>
    <td >
      <%unless domain.domainage.nil? %>
        <%= domain.domainage %>
      <%else%>
        N/A
      <%end%>
    </td>
    <td class="adm"><%= link_to 'Show', domain %></td>
    <td class="adm"><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td class="adm"><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @domains %>

<script>
  $(document).ready(function(){   
  

});

</script>

