<h1>Listing domains</h1>

<table>
  <tr>
    <th>Hostname</th>
    <th>Pagerank</th>
    <th>Domainage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><%= domain.hostname %></td>
    <td><%= domain.pagerank %></td>
    <td><%= domain.domainage %></td>
    <td><%= link_to 'Show', domain %></td>
    <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Domain', new_domain_path %>
