<p id="notice"><%= notice %></p>

<p>
  <b>Hostname:</b>
  <%= @domain.hostname %>
</p>

<p>
  <b>Pagerank:</b>
  <%= @domain.pagerank %>
</p>

<p>
  <b>Domainage:</b>
  <%= @domain.domainage %>
</p>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
