<!DOCTYPE html>
<html>
<head>
  <title>Ciklum  test</title>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jrails' %>
  <%= javascript_include_tag 'jquery.autocomplete' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="content">
<%= yield %>
</div>
</body>
</html>
